<div class="command-container">
    <h1 class="header">Gestion des Commandes</h1>

    <!-- Sélectionner le fournisseur -->
    <div class="fournisseur-selection">
      <h2>Sélectionner un Fournisseur</h2>
      <select (change)="onFournisseurSelected($event)">
        <option value="">Choisir un fournisseur</option>
        <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">
          {{ fournisseur.nom }}
        </option>
      </select>
    </div>
  
    <!-- Afficher les produits du fournisseur sélectionné -->
    <div *ngIf="selectedFournisseur" class="products-list">
      <h2>Produits de {{ selectedFournisseur.nom }}</h2>
      
      <!-- Filter by product name -->
      <input
        type="text"
        [(ngModel)]="filterName"
        (keyup)="filterProduits()"
        placeholder="Nom du produit"
        class="input-field"
      />
      <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Libellé</th>
            <th>P.Achat</th>
            <th>P.Unité</th>
            <th>Qté</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProduits">
            <td>{{ product.nom }}</td>
            <td>{{ product.prixAchat|number : '1.3-3'}} </td>
            <td>{{ (product.prixAchat / product.quantite)|number : '1.3-3'}} </td>
            <td>
              <div style="display: flex; align-items: center;gap:5px">
                <button type="button" (click)="changeQuantity(product, -1)" class="qty_controle" >-</button>
                <input 
                 class="qty_field"                  type="number" 
                  [(ngModel)]="product.quantity" 
                  (change)="updateQuantity(product, product.quantity)" 
                  [min]="1" />
                <button type="button" (click)="changeQuantity(product, 1)" class="qty_controle">+</button>
              </div>
            </td>
            <td>
              <button 
              [ngClass]="{
                'action-btn': !productExistsInSelectedProducts(product),
                'modif-btn': productExistsInSelectedProducts(product)
              }"
              [disabled]="!product.quantity || product.quantity <= 0"
              (click)="addProductToCommand(product, product.quantity)">
              {{ productExistsInSelectedProducts(product) ? 'Modifier' : 'Ajouter' }}
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
  </div>
  
    <!-- Afficher la liste des produits sélectionnés -->
    <div *ngIf="selectedProducts.length > 0" class="selected-products">
      <h2>Produits Sélectionnés</h2>
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Qté</th>
            <th>P.Total</th>
            <th>Actions</th> <!-- Add an actions column for edit and delete buttons -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of selectedProducts; let i = index">
            <td>{{ product.nom }}</td>
            
            <!-- Editable quantity -->
            <td>
              <div style="display: flex; align-items: center;gap:5px">
                <button type="button" (click)="changeQuantity(product, -1)" class="qty_controle" >-</button>
                <input 
                 class="qty_field"                  type="number" 
                  [(ngModel)]="product.quantity" 
                  (change)="updateQuantity(product, product.quantity)" 
                  [min]="1" />
                <button type="button" (click)="changeQuantity(product, 1)" class="qty_controle">+</button>
              </div>
            </td>
      
            <!-- Display total price -->
            <td>{{ (product.quantity * product.prixAchat) |number : '1.3-3'}}</td>
      
            <!-- Action buttons -->
            <td>
              <!-- Delete button -->
              <button class="action-btn delete-btn" (click)="deleteProduct(i)">supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-between">
      <div class="col-4">Total à payer: <span class="total-amount">{{ totalAmount |number : '1.3-3'}} </span></div>
      <div class="col-4">Nombre Produits: <span class="total-amount">{{ totalProduit }} </span></div>
      <div class="col-4">Nombre de cartons: <span class="total-amount">{{ totalCarton }} </span></div>
  </div>
      <!-- Bouton pour sauvegarder la commande -->
      <button class="save-btn" (click)="saveCommand()">Sauvegarder la Commande</button>
    </div>
  
    <!-- Afficher toutes les commandes sauvegardées -->
    <div *ngIf="savedCommands.length > 0" class="saved-commands">
      <h2>Commandes Sauvegardées</h2>
      <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Fournisseur</th>
            <th>N.P</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let command of savedCommands">
            <td>{{ command.fournisseur.nom }}</td>
            <td>{{ command.products.length }}</td>
            <td>{{ command.totalAmount|number : '1.3-3'  }} </td>
            <td>
              <div class="fxRow fxAlignSpaceBetweenCenter">
              <button class="action-btn" (click)="viewDetails(command)">Modifier</button>
              <button class=" delete-btn" (click)="deleteCommand(command.id)">Supprimer</button>
              <button (click)="generatePDF(command)" class="btn btn-primary">
                PDF
              </button>
             </div>
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
  
   <!-- Détails du fournisseur -->
<div *ngIf="selectedCommand" class="fournisseur-details">
    <h3 class="section-title">Détails pour Fournisseur: {{ selectedCommand.fournisseur.nom }}</h3>
    
    <div class="detail">
      <strong>Montant Total :</strong>
      <span class="amount">{{ selectedCommand.totalAmount.toFixed(3) }}</span>
    </div>
    <div class="detail">
      <strong>Nombre de Produits :</strong>
      <span class="amount">{{ totalProducts }}</span>
    </div>
    <div class="detail">
      <strong>Nombre de Cartons :</strong>
      <span class="amount">{{ totalCartons }}</span>
    </div>
  
    <div class="product-list">
      <h4 class="section-subtitle">Produits dans cette Commande:</h4>
      <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>
              <input 
                type="checkbox" 
                [checked]="areAllSelected" 
                (change)="toggleSelectAll($event)" 
                title="Select All"
              />
            </th>
            <th>Nom du Produit</th>
            <th>Quantité</th>
            <th>Prix d'achat</th>
            <th>Sous Total</th>
            <th *ngIf="selectedCommand.isEditing">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of selectedCommand.products; let i = index">
            <td>
              <input 
                type="checkbox" 
                [(ngModel)]="product.isSelected" 
                (change)="updateSelectionState()"
              />
            </td>
            <td>
              <span class="product-name">{{ product.nom }}</span>
            </td>         
            <td>
              <input 
                (change)="updateTotalAmount()"
                [(ngModel)]="product.quantity" 
                type="number" 
                min="1" 
                [readonly]="!selectedCommand.isEditing" 
                placeholder="Quantité" 
                class="quantity-input"
              />
            </td>   <td>
              <span class="product-name">{{ product.prixAchat.toFixed(3) }}</span>
            </td>    <td>
              <span class="product-name">{{ (product.prixAchat*product.quantity).toFixed(3) }}</span>
            </td>
            <td *ngIf="selectedCommand.isEditing">
              <button 
                (click)="removeProduct(i)" 
                class="delete-btn"
                title="Supprimer ce produit"
              >
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
  {{selectedCommand.isEditing|json}}
    <!-- Available products from the fournisseur that are not in the command -->
    <div *ngIf="selectedCommand.isEditing && availableProducts.length > 0" class="add-new-products">
      <h4 class="section-subtitle">Ajouter de nouveaux produits</h4>
      <input
              type="text"
              [(ngModel)]="filterAvailableName"
              (keyup)="filterAvailableProduits()"
              placeholder="Nom du produit"
              class="input-field"
      />
      <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Ajouter</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredAvailableProduits; let i = index">
            <td>{{ product.nom }}</td>
            <td>{{ product.prixAchat.toFixed(3) }} </td>
            <td>
              <input 
                [(ngModel)]="product.selectedQuantity" 
                type="number" 
                min="1" 
                placeholder="Quantité" 
                class="quantity-input"
              />
            </td>
            <td>
              <button 
                (click)="addProduct(product)" 
                [disabled]="product.selectedQuantity <= 0"
                class="action-btn"
                title="Ajouter ce produit"
              >
                Ajouter
              </button>
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
  
    <div class="edit-buttons">
      <button 
        *ngIf="selectedCommand.isEditing" 
        (click)="updateCommand()" 
        class="action-btn save-btn"
        title="Enregistrer les modifications"
      >
        Enregistrer les modifications
      </button>
      <button 
        *ngIf="selectedCommand.isEditing" 
        (click)="cancelEdit()" 
        class="action-btn cancel-btn"
        title="Annuler les modifications"
      >
        Annuler
      </button>
      <button 
        *ngIf="!selectedCommand.isEditing" 
        (click)="editCommand()" 
        class="action-btn edit-btn"
        title="Modifier la commande"
      >
        Modifier
      </button>
    </div>
  </div>