<div class="facture-container">
  <h1>Gestion des Factures</h1>

  <!-- Formulaire pour ajouter une facture -->
  <div class="add-facture">
    <h2>Créer une Facture</h2>
   
  <!-- Sélectionner le client -->
  <div class="client-selection">
      <input
      type="date"
      [(ngModel)]="factureDate"
      placeholder="Date"
      class="input-field"
    />
    <input
      type="text"
      [(ngModel)]="factureNumber"
      placeholder="Numéro"
      class="input-field"
    />
      <select (change)="onClientsSelected($event)">
        <option value="">Choisir un client</option>
        <option *ngFor="let client of clients" [value]="client.id">
          {{ client.nom }}
        </option>
      </select>
    </div>
      <!-- Liste des produits -->
       <!-- Filter by product name -->
        <div *ngIf="selectedClient">
    <input
    type="text"
    [(ngModel)]="filterName"
    (keyup)="filterProduits()"
    placeholder="Nom du produit"
    class="input-field"
  />
  <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Libellé</th>
        <th>P.Unité</th>
        <th>Qté</th>
        <th>P.Vente</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProduits">
        <td style="line-height: 1.2!important">{{ product.nom }}</td>
        <td>{{ product.prixVente.toFixed(3) }} </td>
        <td>
          <div style="display: flex; align-items: center;gap:5px">
            <button type="button" (click)="changeQuantity(product, -1)" class="qty_controle">-</button>
            <input 
              class="qty_field"
              type="number" 
              [(ngModel)]="product.quantity" 
              (change)="updateQuantity(product, product.quantity)" 
              [min]="1" />
            <button type="button" (click)="changeQuantity(product, 1)" class="qty_controle">+</button>
          </div>
        </td>
        <td>{{ (product.prixVente * (product.quantity||0)).toFixed(3)}} </td>

        <td>
          <button 
          [ngClass]="{
            'action-btn': !productExistsInSelectedProducts(product),
            'modif-btn': productExistsInSelectedProducts(product)
          }"
          [disabled]="!product.quantity || product.quantity <= 0"
          (click)="addProductTofacture(product, product.quantity)">
          {{ productExistsInSelectedProducts(product) ? 'Modifier' : 'Ajouter' }}
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination w-100" *ngIf="totalPages > 1">
  <span></span>
<div>
  <button (click)="prevPage()" [disabled]="currentPage === 0">Précedent</button>
  <span>Page {{ currentPage + 1 }} Sur {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Suivant</button></div>
 <div>
  <select [(ngModel)]="pageSize" (change)="changePageSize()">
    <option value="5">5 par page</option>
    <option value="10">10 par page</option>
    <option value="25">25 par page</option>
  </select></div>
</div></div>
      <!-- Totaux -->
     
  </div>
  <!-- Afficher la liste des produits sélectionnés -->
  <div *ngIf="selectedProducts.length > 0" class="selected-products">
      <h2>Produits Sélectionnés</h2>
      <table>
        <thead>
          <tr>
            <th>Libellé</th>
            <th>P.Unité</th>
            <th>Qté</th>
            <th>P.Total</th>
            <th>Actions</th> <!-- Add an actions column for edit and delete buttons -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of selectedProducts; let i = index">
            <td style="line-height: 1.2!important">{{ product.nom |titlecase}}</td>
            <td *ngIf="!(editPrice && (editedProductId == product.id))" > <div style="display: flex; align-items: center;gap:5px"> <span>{{ (product.prixVente).toFixed(3) }}</span> <span class="material-symbols-outlined"  (click)="editPrice=true;editedProductId=product.id">edit</span></div></td>
            <td *ngIf="editPrice && (editedProductId == product.id)">
              <div  style="display: flex; align-items: center;gap:5px">
              <input 
              class="price_field"                type="number" 
                [(ngModel)]="product.prixVente" 
                (change)="updatePrixVente(product, product.prixVente)"
                step="0.001"
                min="0" />
                <span class="material-symbols-outlined"  (click)="editPrice=false;editedProductId=null">save</span></div>
            </td>
            <!-- Editable quantity -->
            <td>
              <div style="display: flex; align-items: center;gap:5px">
                <button type="button" (click)="changeQuantity(product, -1)" class="qty_controle" >-</button>
                <input 
                 class="qty_field"                  type="number" 
                  [(ngModel)]="product.quantity" 
                  (change)="updateQuantity(product, product.quantity)" 
                  [min]="1" />
                <button type="button" (click)="changeQuantity(product, 1)" class="qty_controle">+</button>
              </div>
            </td>
      
            <!-- Display total price -->
            <td>{{ ((product.quantity||0) * product.prixVente).toFixed(3) }}</td>
      
            <!-- Action buttons -->
            <td>
              <!-- Delete button -->
              <button class="action-btn delete-btn" (click)="deleteProduct(i)"><span class="material-symbols-outlined" >delete</span></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-between">
        <div class="col-4">DT: <span class="total-amount">{{ droit }} </span></div>
    <div class="col-4">Total: <span class="total-amount">{{ totalAmount }} </span></div>
    <div class="col-4">Nb.Produits: <span class="total-amount">{{ totalProduit }} </span></div>
</div>
      <!-- Bouton pour sauvegarder la Facture -->
      <button class="save-btn" (click)="saveFacture()">Sauvegarder la Facture</button>
    </div>
  <!-- Liste des factures -->
  <div class="factures-liste" *ngIf="savedfactures.length > 0">
       <!-- Afficher toutes les factures sauvegardées -->
  <div *ngIf="savedfactures.length > 0" class="saved-factures">
      <h2>factures Sauvegardées</h2>
      <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Numero</th>
            <th>Date</th>
            <th>Client</th>
            <th>N.P</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let facture of savedfactures ; let i=index">
            <td> <input 
              [(ngModel)]="facture.numero" 
              [value]="facture.numero || (i+1)+'/'+year "
              type="text" 
              min="1" 
              placeholder="Quantité" 
              class="quantity-input numero_field" 
            /></td>
            <td class="no-break">
              {{ (facture.timestamp|date:'dd/MM') || "--" }}</td>
            <td style="line-height: 1.2!important">{{ facture.client.nom|titlecase }}</td>
            <td>{{ facture.products.length }}</td>
            <td>{{ facture.totalAmount.toFixed(3)  }} </td>
            <td>
              <div  style="display: flex; align-items: center;gap:5px">
              <button class="action-btn" (click)="viewDetails(facture)"> Modifier </button>
              <button class=" delete-btn" (click)="deletefacture(facture.id)">Supprimer</button>
              <button (click)="generatePDF(facture,i)" class="btn btn-primary">
               Facture               </button>
                <button (click)="generateTicket(facture,i)" class="btn btn-secondary">
                 Ticket
              </button>
          </div>
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
  </div>
  <div *ngIf="selectedfacture">
    <div class="product-list">
      <h4 class="section-subtitle">Produits dans cette Facture:</h4>
      <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>
              <input 
                type="checkbox" 
                [checked]="areAllSelected" 
                (change)="toggleSelectAll($event)" 
                title="Select All"
              />
            </th>
            <th>Nom du Produit</th>
            <th>Quantité</th>
            <th>Prix de vente</th>
            <th>Sous Total</th>
            <th *ngIf="selectedfacture.isEditing">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of selectedfacture.products; let i = index">
            <td>
              <input 
                type="checkbox" 
                [(ngModel)]="product.isSelected" 
                (change)="updateSelectionState()"
              />
            </td>
            <td>
              <span class="product-name">{{ product.nom }}</span>
            </td>         
            <td>
              <input 
                (change)="updateTotalAmount()"
                [(ngModel)]="product.quantity" 
                type="number" 
                min="1" 
                [readonly]="!selectedfacture.isEditing" 
                placeholder="Quantité" 
                class="quantity-input"
              />
            </td>   <td>
              <span class="product-name">{{ product.prixVente.toFixed(3) }}</span>
            </td>    <td>
              <span class="product-name">{{ (product.prixVente*product.quantity).toFixed(3) }}</span>
            </td>
            <td *ngIf="selectedfacture.isEditing">
              <button 
                (click)="removeProduct(i)" 
                class="delete-btn"
                title="Supprimer ce produit"
              >
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
    <!-- Available products from the fournisseur that are not in the Facture -->
    <div *ngIf="selectedfacture.isEditing && availableProducts.length > 0" class="add-new-products">
      <h4 class="section-subtitle">Ajouter de nouveaux produits</h4>
      <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prix Vente / Pièce</th>
            <th>Quantité</th>
            <th>Prix Vente</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of availableProducts; let i = index">
            <td>{{ product.nom }}</td>
            <td>{{ product.prixVente.toFixed(3) }} </td>
            <td>
              <input 
                [(ngModel)]="product.selectedQuantity" 
                type="number" 
                min="1" 
                placeholder="Quantité" 
                class="quantity-input"
              />
            </td>
            <td>{{ (product.prixVente * (product.selectedQuantity||0)).toFixed(3)}} </td>

            <td>
              <button 
                (click)="addProduct(product)" 
                [disabled]="product.selectedQuantity <= 0"
                class="action-btn"
                title="Ajouter ce produit"
              >
                Ajouter
              </button>
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
  
    <div class="edit-buttons">
      <button 
        *ngIf="selectedfacture.isEditing" 
        (click)="updateFacture()" 
        class="action-btn save-btn"
        title="Enregistrer les modifications"
      >
        Enregistrer les modifications
      </button>
      <button 
        *ngIf="selectedfacture.isEditing" 
        (click)="cancelEdit()" 
        class="action-btn cancel-btn"
        title="Annuler les modifications"
      >
        Annuler
      </button>
      <button 
        *ngIf="!selectedfacture.isEditing" 
        (click)="editFacture()" 
        class="action-btn edit-btn"
        title="Modifier la Facture"
      >
        Modifier
      </button>
    </div>
</div>
</div>
<div  style="display: none;" *ngIf="invoice">
<div id="ticket" >
  <div class="header">
    <h2>PROMOKA SHOP</h2>
    <p>Rue 2 mars Akouda</p>
    <p>MF: 185560Y/N/M000</p>
    <p>Sousse le {{ currentDate }}</p>
  </div>

<div class="details">
  <p><strong>Client:</strong> {{ invoice.client.nom }}</p>
  <p><strong>Adresse:</strong> {{ invoice.client.adresse }}</p>
  <p><strong>MF:</strong> {{ invoice.client.matricule }}</p>
</div>

<table class="items">
  <thead>
  <tr>
    <th>Désignation</th>
    <th>P.U HT</th>
    <th>Qté</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of invoice.products">
    <td>{{ product.nom }}</td>
    <td>{{ product.prixVente | number:'1.3-3' }}</td>

    <td>{{ product.quantity }}</td>
    <td>{{ product.quantity * product.prixVente | number:'1.3-3' }}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr >
    <td></td>
    <td></td>
    <th>Total HT:</th>
    <th>{{ totalHT | number:'1.3-3' }}</th>
  </tr>
  <tr >
    <td></td>
    <td></td>
    <th>TVA:</th>
    <th>{{ 0 | number:'1.3-3' }}</th>
  </tr>
  <tr >
    <td></td>
    <td></td>
    <th>Droit de Timbre:</th>
    <th>{{ droit | number:'1.3-3' }}</th>
  </tr>
  <tr >
    <td></td>
    <td></td>
    <th>Total TTC:</th>
    <th>{{ (totalHT) | number:'1.3-3' }}</th>
  </tr>
  </tfoot>
</table>
<div class="footer">
  <p>Cachet et Signature</p>
</div>
</div>
</div>