<div class="produit-container">
  <h1>Gestion des Produits</h1>

  <!-- Formulaire pour ajouter un produit -->
  <div class="add-produit">
    <h2>Ajouter un Produit</h2>
    <form [formGroup]="produitForm" (ngSubmit)="addProduit()">
      <!-- Input for product number -->
      <label for="nom">Libelle du produit :</label>
      <input
        type="text"
        id="nom"
        formControlName="nom"
        required
        placeholder="Libellé du produit"
        class="input-field"
      />

      <!-- Product supplier selection -->
      <label for="fournisseur">Fournisseur :</label>
      <select
        id="fournisseur"
        formControlName="fournisseur"
        required
        class="input-field"
      >
        <option
          *ngFor="let fournisseur of fournisseurs"
          [value]="fournisseur.id"
        >
          {{ fournisseur.nom }}
        </option>
      </select>

      <!-- Barcode input -->
      <label for="codeBarre">Code à barre :</label>
      <input
        type="text"
        id="codeBarre"
        formControlName="codeBarre"
        required
        placeholder="Code à barre"
        class="input-field"
      />

      <!-- Quantity input -->
      <label for="quantite">Quantité :</label>
      <input
        type="number"
        id="quantite"
        formControlName="quantite"
        required
        placeholder="Quantité"
        class="input-field"
      />

      <!-- Purchase price input -->
      <label for="prixAchat">Prix d'achat :</label>
      <input
        type="number"
        id="prixAchat"
        formControlName="prixAchat"
        required
        placeholder="Prix d'achat"
        class="input-field"
      />

      <!-- Selling price input -->
      <label for="prixVente">Prix de vente :</label>
      <input
        type="number"
        id="prixVente"
        formControlName="prixVente"
        required
        placeholder="Prix de vente"
        class="input-field"
      />

      <!-- Submit button -->
      <button type="submit" class="action-btn">Ajouter</button>
    </form>
  </div>

  <!-- Product filter section -->
  <div class="filter">
    <h2>Filtrer les Produits</h2>

    <!-- Filter by product name -->
    <input
      type="text"
      [(ngModel)]="filterName"
      (keyup)="filterProduits()"
      placeholder="Nom du produit"
      class="input-field"
    />

    <!-- Filter by supplier -->
    <select
      class="input-field"
      [(ngModel)]="filterFournisseur"
      (change)="filterProduits()"
    >
      <option [value]="''">Fournisseur</option>
      <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">
        {{ fournisseur.nom }}
      </option>
    </select>

    <!-- Filter by barcode -->
    <input
      type="text"
      [(ngModel)]="filterCodeBarre"
      (keyup)="filterProduits()"
      placeholder="Code à barre"
      class="input-field"
    />
  </div>

  <!-- List of products -->
  <div *ngIf="produits.length > 0" class="filter">
    <h2>Liste des Produits</h2>
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Libellé</th>
            <!-- <th>Code à barre</th> -->
            <th>Qté</th>
            <th>P.Achat</th>
            <th>P.Vente</th>
            <th>Actions</th>
            <th>Fournisseur</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produit of paginatedProduits">
            <td class="no-break">{{ produit.nom_lowercase }}</td>
         
            <!-- <td class="no-break">{{ produit.codeBarre }}</td> -->
            <td>{{ produit.quantite }}</td>
            <td>{{ (produit.prixAchat||0).toFixed(3) }}</td>
            <td>{{ (produit.prixVente||0).toFixed(3) }}</td>
            <td class="actions">
              <!-- Delete and edit actions -->
    
              <button class="action-btn" (click)="editProduit(produit)">
                <span class="material-symbols-outlined" >edit</span>
              </button>
                        <button class="action-btn" (click)="deleteProduit(produit.id)">
                <span class="material-symbols-outlined" >delete</span>
              </button>
            </td>
            <td class="no-break">
              {{ produit.fournisseur | fournisseur : fournisseurs }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination w-100" *ngIf="totalPages > 1">
    <span></span>
  <div>
    <button (click)="prevPage()" [disabled]="currentPage === 0">Précedent</button>
    <span>Page {{ currentPage + 1 }} Sur {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Suivant</button></div>
   <div>
    <select [(ngModel)]="pageSize" (change)="changePageSize()">
      <option value="5">5 par page</option>
      <option value="10">10 par page</option>
      <option value="25">25 par page</option>
    </select></div>
  </div>
  <!-- Update form for selected product -->
  <div *ngIf="selectedProduit" class="update-form" id="update-product">
    <h2>Modifier Produit</h2>
    <form (ngSubmit)="updateProduit(selectedProduit.id, updateData)">
      <!-- Inputs for updating product details -->
      <label for="num">Libelle :</label>
      <input
        type="text"
        id="nom"
        [(ngModel)]="updateData.nom"
        name="nom"
        required
        placeholder="Libelle du produit"
        class="input-field"
      />

      <label for="fournisseur">Fournisseur :</label>
      <select
        id="fournisseur"
        [(ngModel)]="updateData.fournisseur"
        name="fournisseur"
        required
        class="input-field"
      >
        <option
          *ngFor="let fournisseur of fournisseurs"
          [value]="fournisseur.id"
        >
          {{ fournisseur.nom }}
        </option>
      </select>

      <label for="codeBarre">Code à barre :</label>
      <input
        type="text"
        id="codeBarre"
        [(ngModel)]="updateData.codeBarre"
        name="codeBarre"
        required
        placeholder="Code à barre"
        class="input-field"
      />
      <label for="quantite">Quantité :</label>
      <input
        type="text"
        id="quantite"
        [(ngModel)]="updateData.quantite"
        name="quantite"
        required
        placeholder="Quantité"
        class="input-field"
      />

      <label for="prixAchat">Prix d'achat :</label>
      <input
        type="number"
        id="prixAchat"
        [(ngModel)]="updateData.prixAchat"
        name="prixAchat"
        required
        placeholder="Prix d'achat"
        class="input-field"
      />

      <label for="prixVente">Prix de vente :</label>
      <input
        type="number"
        id="prixVente"
        [(ngModel)]="updateData.prixVente"
        name="prixVente"
        required
        placeholder="Prix de vente"
        class="input-field"
      />

      <!-- Update button -->
      <button type="submit" class="action-btn">Modifier</button>
    </form>
  </div>
</div>
