<div class="fournisseur-container">
    <h1>Gestion des Fournisseurs</h1>
  
    <!-- Formulaire pour ajouter un fournisseur -->
    <div class="add-fournisseur">
        <h2>Ajouter un Fournisseur</h2>
        <form [formGroup]="fournisseurForm" (ngSubmit)="addFournisseur()">
            <label for="nom">Nom :</label>
            <input
              type="text"
              id="nom"
              formControlName="nom"
              placeholder="Nom du fournisseur"
            />
            <div class="input-error" *ngIf="fournisseurForm.get('nom')!.invalid && fournisseurForm.get('nom')!.touched">
              <span *ngIf="fournisseurForm.get('nom')!.errors?.['required']">Nom est requis.</span>
            </div>
          
            <label for="email">Email :</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Email du fournisseur"
            />
            <div  class="input-error" *ngIf="fournisseurForm.get('email')!.invalid && fournisseurForm.get('email')!.touched">
              <span *ngIf="fournisseurForm.get('email')!.errors?.['required']">Email est requis.</span>
              <span *ngIf="fournisseurForm.get('email')!.errors?.['email']">Email non valide.</span>
            </div>
          
            <label for="address">Adresse :</label>
            <input
              type="text"
              id="address"
              formControlName="adresse"
              placeholder="Adresse du fournisseur"
            />
            <div  class="input-error" *ngIf="fournisseurForm.get('adresse')!.invalid && fournisseurForm.get('adresse')!.touched">
              <span *ngIf="fournisseurForm.get('adresse')!.errors?.['required']">Adresse est requise.</span>
            </div>
          
            <label for="telephone">Téléphone :</label>
            <input
              type="number"
              id="telephone"
              formControlName="telephone"
              placeholder="Téléphone du fournisseur"
            />
            <div  class="input-error" *ngIf="fournisseurForm.get('telephone')!.invalid && fournisseurForm.get('telephone')!.touched">
              <span *ngIf="fournisseurForm.get('telephone')!.errors?.['required']">Téléphone est requis.</span>
              <span *ngIf="fournisseurForm.get('telephone')!.errors?.['pattern']">Téléphone non valide.</span>
            </div>
          
            <button type="submit">Ajouter</button>
          </form>
    </div>
  
    <!-- Filtrage des fournisseurs par nom -->
    <div class="filter">
        <h2>Filtrer par Nom</h2>
        <input
            type="text"
            [(ngModel)]="filterName"
            (ngModelChange)="filterFournisseurs()"
            placeholder="Nom du fournisseur"
        />
    </div>
  
    <!-- Liste des fournisseurs -->
    <div *ngIf="fournisseurs.length > 0">
        <h2>Liste des Fournisseurs</h2>
        <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fournisseur of filteredFournisseurs">
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.email }}</td>
                    <td>{{ fournisseur.adresse }}</td>
                    <td>{{ fournisseur.telephone }}</td>
                    <td>
                        <!-- Actions pour supprimer et modifier -->
                        <button (click)="deleteFournisseur(fournisseur.id!)">Supprimer</button>
                        <button (click)="editFournisseur(fournisseur)">Modifier</button>
                    </td>
                </tr>
            </tbody>
        </table></div>
    </div>
    <!-- Formulaire de mise à jour -->
    <div *ngIf="selectedFournisseur" class="update-form">
        <h2>Modifier Fournisseur</h2>
        <form (ngSubmit)="updateFournisseur(selectedFournisseur.id!, updateData)">
            <label for="nom">Nom :</label>
            <input
                type="text"
                id="nom"
                [(ngModel)]="updateData.nom"
                name="nom"
                required
                placeholder="Nom du fournisseur"
            />
  
            <label for="email">Email :</label>
            <input
                type="email"
                id="email"
                [(ngModel)]="updateData.email"
                name="email"
                required
                placeholder="Email du fournisseur"
            />
            <label for="adresse">Adresse :</label>
            <input
                type="text"
                id="adresse"
                [(ngModel)]="updateData.adresse"
                name="adresse"
                required
                placeholder="Adresse du fournisseur"
            />
            <label for="email">Email :</label>
            <input
                type="phone"
                id="phone"
                [(ngModel)]="updateData.telephone"
                name="phone"
                required
                placeholder="Telephone du fournisseur"
            />
  
            <button type="submit">Modifier</button>
        </form>
    </div>
</div>
